@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden; 
}
header {
    background-color: white;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
    position: fixed;
    font-size: 14px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .3);
    nav {
        ul li{
            text-align: center;
            font-size: 16px;
            margin: 23px;
            display: inline-block;
            width: 80px;
        }
    }
    img {
        margin: 20px;
    }
    div {
        background-color: blue;
        width: 300px;
        height: 100px;
        cursor: pointer;
        a {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-left: auto;
            padding: 1.7rem 1.5rem;
            color: white;
            font-size: 18px;
            text-align: left;
            font-family: 'Montserrat';
            font-weight: 700;
        }
    }
}
main {
    padding: 120px 30px 30px 20px;
    div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px 30px 10px 30px;
        article{
            width: 400px;
            height: 300px;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, .3);
            p{
                padding: 5px;
            }
        } 
        h2 {
            color: blue;
        }
    }
}

